.SearchBox h1 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em 0;
}

.SearchBox {
  width: 100%;
  padding: 0 2em;
}

.SearchBox form {
  background-color: rgba(0, 221, 158, 0.129);
  padding: 1em;
  width: 70%;
  border-radius: 0.7em;
  border: 1px solid greenyellow;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdownVisible,
.dropdownVisible div {
  width: 70% !important;
  margin-bottom: 2em;


}

.dropdownVisible div {

  background-color: rgba(0, 221, 158, 0.129);
  width: 70%;
  border-radius: 0.7em;
  color: white;

}

.dropdownVisible div a {
  color: white;

}

.SearchBox form input {
  background-color: rgb(255, 255, 255);
  padding: 1em;
  width: 100%;
  border-radius: 0.7em;
  border: 1px solid greenyellow;
  color: black;
}

.SearchBox form button {
  background-color: #81d800;
  padding: 0.7em;
  width: max-content;
  border-radius: 50%;
  border: 1px solid #adff2f;
  position: absolute;
  right: 2em;
}

.SearchBox form button svg {
  font-size: 1.6em;
}

@media screen and (max-width: 450px) {
  .SearchBox form {
    padding: 0.8em;
    width: 100%;

  }

  .SearchBox form button svg {
    font-size: 1.2em;
  }

  .SearchBox form button {
    padding: 0.5em;
    width: max-content;
    border-radius: 50%;
    border: 1px solid #adff2f;
    position: absolute;
    right: 2em;
  }

  .SearchBox form {
    width: 100%;
    padding: 0.6em;
  }

  .dropdownVisible,
  .dropdownVisible div {
    width: 100% !important;
    margin-bottom: 4em;
  }


}