.sol_div {
    border: 1px solid #ffffff9a;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.6em;
    padding: 0.5em;
    background-color: #acff2f11;
    
}

.sol_Img {
    width: 35px;
    height: 35px;
    background-color: rgb(18, 18, 18);
    border-radius: 50%;
    padding: 0.25em;

}

.current_price {
    font-weight: 500;
}

.sol_div ul {
    display: flex;
}

.sol_div ul li {
    padding-left: 0.5em;
    font-size: 0.8em;

}

.priceChangeNegative {
    color: red;
}

.priceChangePositive {
    color: green;
}