.Transaction_body {
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    flex-direction: column;
    padding-bottom: 2em;
}

.Details_H1 {
    font-size: 1.5em;
    text-align: left;
    width: 95%;
    padding-bottom: 1.5em;
    font-weight: bold;
}

.TransactionSlug {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(31, 31, 31, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    border-radius: 1em;
    padding: 1em;
    flex-direction: column;
}

.TransactionSlug h1 {
    color: greenyellow;
    font-size: 1.3em;
    font-weight: bold;
}

.TransactionSlug ul li {
    margin: 1em 0;
}

.TransactionSlug ul li {
    margin: 1.4em 0;
    display: flex;
    width: 100%;
    text-transform: capitalize;
}

.TransactionSlug ul li> :first-child {
    width: 20%;
    color: rgb(184, 184, 184);
}

.TransactionSlug ul li> :nth-child(2) {
    width: 70%;
    color: white;
    font-weight: 500;
    word-wrap: break-word;
    white-space: pre-wrap;

}

.TransactionSlug ul li .success {
    color: greenyellow;
    border: solid greenyellow 1px;
    width: min-content;
    padding: 0.3em 1em;
    border-radius: 0.4em;
    background-color: rgba(116, 193, 0, 0.189);
}

.TransactionSlug ul li .error {
    color: #ff1010;
    border: solid #ff1010 1px;
    width: min-content;
    padding: 0.3em 1em;
    border-radius: 0.4em;
    background-color: #ff101065;
}

.feePositive {
    color: greenyellow;
}

.TransactionSlug ul li .feeNegative {
    color: #ff1010;

}

.TransactionSlug ul li .feeNegative span {
    color: white;
    font-size: 0.9em;

}

@media screen and (max-width: 440px) {
    .TransactionSlug ul li {
        margin: 1.4em 0;
        display: flex;
        width: 100%;
        text-transform: capitalize;
        flex-direction: column;
    }

    .TransactionSlug ul li> :first-child {
        width: max-content;
    }

    .TransactionSlug ul li> :nth-child(2) {
        width: 100%;


    }

    .TransactionSlug ul li .success {

        width: min-content;

    }

}