.Overview {
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 3em;
}

.overview_Body {
    background-color: rgb(34, 34, 34);
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    border-radius: 1em;
    padding: 1em;
    flex-direction: column;
}

.Overview h1 {
    color: greenyellow;
    font-size: 1.3em;
    font-weight: bold;
}

.overview_Body ul li {
    margin: 1em 0;
}

.overview_Body ul li {
    margin: 1.4em 0;
    display: flex;
    width: 100%;
}

.overview_Body ul li> :first-child {
    width: 20%;
    color: rgb(184, 184, 184);
}

.overview_Body ul li> :nth-child(2) {
    width: 70%;
    color: white;
    font-weight: 500;
    word-wrap: break-word;
    white-space: pre-wrap;

}

.Reward {
    display: flex;
}

.Reward span {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.Reward img {
    width: 20px;
    margin-right: 0.2em;
}

@media screen and (max-width: 440px) {
    .overview_Body ul li {
        margin: 1.4em 0;
        display: flex;
        width: 100%;
        text-transform: capitalize;
        flex-direction: column;
    }

    .overview_Body ul li> :first-child {
        width: max-content;
    }

    .overview_Body ul li> :nth-child(2) {
        width: 100%;


    }

    .overview_Body ul li .success {

        width: min-content;

    }

}