.tableContainer {
    overflow-x: auto;
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 9px;
    border: transparent;

}

.token_table {
    padding: 3em;
    overflow: scroll;
}

.headerCell {
    background-color: #15151500;
    font-weight: bold;
    padding: 10px;
    border: transparent;
    text-align: left;
    padding: 20px 30px;
}

.headerCell span {
    max-width: 180px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    width: 100%;


}

.OwnersAssects {
    width: 95%;
    margin: auto;
}

.token_TR td {
    padding: 20px 30px;
    text-align: left;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px;
    border-color: rgba(128, 128, 128, 0.452);
    border-style: solid;
}

.token_TR td a {

    color: rgb(0, 255, 255);
}

.headerText {
    font-size: 1.5em;
}

.token_table {
    width: 100%;
    margin: 1em auto;
}

.token_image img {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    margin-right: 0.5em;

}

.token_tbody .symbol {
    padding: 0 0.3em;
    color: rgb(206, 206, 206);
    font-size: 0.8em;
}

.token_TR td div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.token_TR td {
    padding-bottom: 1.2em;

}

.ViewMore {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.ViewMore svg {
    margin-left: 0.3em;
    color: white;
}

/* //totalPrice */
.totalPriceContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5em 2em;
    margin-top: 3em;
}

.totalPriceContainer .subHeader {
    font-size: 1.5em;
    padding-top: 1em;

}

.totalPriceContainer h3 {
    background-color: rgb(57, 57, 57);
    width: 25%;
    border-radius: 0.6em;
    height: 200px;
    padding: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.totalPrice span {
    font-size: 0.5em;
    color: rgb(202, 202, 202);
}

.totalPrice {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 1200px) {


    .totalPriceContainer h3 {
        width: 30%;
        height: 200px;
    }

}

@media screen and (max-width: 850px) {


    .totalPrice {
        font-size: 1.3em;

    }

    .totalPrice span {
        font-size: 0.7em;
        color: rgb(202, 202, 202);
    }

    .symbol {
        display: none;
    }


}

@media screen and (max-width: 850px) {
    .token_TR td {
        padding: 60px 30px;
        width: 100px
    }

    .totalPriceContainer {
        flex-direction: column;
    }

    .totalPriceContainer h3 {
        width: 80%;
        flex-direction: column;
    }

    .totalPrice {
        font-size: 1.3em;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 0.5em 0;
    }

    .totalPrice span {
        font-size: 0.7em;
        color: rgb(202, 202, 202);
    }

    .symbol {
        display: none;
    }


}