@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-family: "Kanit", sans-serif;


}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




.WalletInfo .publicKey {
  display: flex;
  flex-direction: row;
}


.WalletInfo div .connect_wallet_text {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  align-items: flex-start
}


.connect_wallet_text h1 {
  font-size: 3em;
  text-align: start;
  font-style: normal;
  padding: auto;
  text-transform: capitalize;
  font-weight: bold;

}

.connect_wallet_text p {
  font-size: 1em;
  font-style: italic;
  padding: 1em 0;
  font-weight: normal;
}

.connect_wallet_text button {
  font-size: 1.5em;
  text-align: start;
  font-style: normal;
  padding: auto;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  background: rgb(156, 0, 140);
  background: rgb(156, 0, 140);
  background: linear-gradient(158deg, rgba(156, 0, 140, 1) 0%, rgba(145, 0, 113, 1) 48%, rgba(209, 0, 255, 1) 100%);
  border-radius: 0.4em;
}

.connect_wallet_text button:hover {
  font-size: 1.5em;
  text-align: start;
  font-style: normal;
  padding: auto;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 255) !important;
  border-radius: 9m;
}

.publicKey img {
  width: 100%;
  border-radius: 2em;
  max-width: 600px;
  max-height: 600px;
}

.publicKey .connect_wallet_image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.publicKey_details h1 {
  font-size: 2em;
}

.publicKey_details h2 {
  color: rgb(137, 137, 137);
  font-weight: bold;
  padding-bottom: 1em;

}

.publicKey_details h2 span {
  color: white;
  font-weight: normal;
}